<footer>
    <p>Developed by Chris Yuen</p>
    <p>Social Media: <a href="https://www.linkedin.com/chrisyuen976">LinkedIn</a></p>
    <p class="footer-small">Technologies used: JavaScript, Node.js, MongoDB, Mongoose, EJS, Lodash</p>
</footer>
</body>
</html>