<footer>
    <p>Developed by Chris Yuen</p>
    <p>Social Media: <a href="https://www.linkedin.com/in/chrisyuen976">LinkedIn</a>, <a href="https://github.com/chrisyuen976">Github</a></p>
    <p class="footer-small">Technologies used: JavaScript, Node.js, MongoDB, Mongoose, EJS, Lodash</p>
    <p class="footer-small">Portfolio: <a href="https://chrisyuen.info/">chrisyuen.info</a></p>
</footer>
</body>
</html>